# Prometheus Configuration for muhammad_ivan_LspW ML Pipeline

global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'muhammad_ivan_LspW-model'
    static_configs:
      - targets: ['ml-model:8001']
        labels:
          group: 'ml-model'
    metrics_path: '/metrics'

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']